<html>
{% load static %}

<head>
    <title>術式反轉</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocas/4.2.3/tocas.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tocas/4.2.3/tocas.min.js"></script>

    {#    RWD#}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {#    可愛字型#}
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet"/>
</head>
<body>
<div class="ts-content is-secondary is-fitted">
    <div class="ts-container is-narrow">
        <div class="ts-tab">
            <a href="{% url 'reversal:index' %}" class="item">首頁</a>
            <a href="{% url 'reversal:app' %}" class="item">開始使用</a>
            <a href="{% url 'reversal:about' %}" class="item is-active">關於</a>
        </div>
    </div>
</div>
<div class="ts-divider"></div>
<div class="ts-content is-tertiary is-vertically-very-padded">
    <div class="ts-header is-large">關於</div>
    <div class="ts-text is-secondary">了解這份專案跟團隊！</div>
</div>
<div class="ts-divider"></div>
<div class="ts-space is-big"></div>


<div class="ts-container is-narrow">
<div class="ts-header is-large is-start-icon">
    <span class="ts-icon is-file-lines-icon"></span>
    關於
</div>
    <div class="ts-space"></div>
    <div class="ts-box">

<div class="ts-content">
    <p class="ts-text">
        近年來，隨著人工智慧技術的發展，透過文字提示生成圖片的方法愈加普及。這些生成的圖片十分出色，但若要進一步了解圖片生成的過程，是否能夠從圖片出發反推出對應的文字提示呢？
    </p>
    <p class="ts-text">
        這是一個圖片反向搜尋的程式，使用 DiffusionDB 2M 儲存圖片的嵌入向量，透過比對與使用者輸入的圖片，找到最相似的圖片。透過讀取儲存於資料庫中的圖片嵌入向量資料框，使用 cosine similarity 計算所有圖片與使用者輸入的圖片的相似度，取前 20 相似度最高的圖片並顯示相應的圖片 ID、相似度和文字提示做進一步的估計。
    </p>
</div>
    <div class="symbol">
        <span class="ts-icon is-circle-info-icon"></span>
    </div>
</div>

<div class="ts-space is-large"></div>

<div class="ts-header is-big is-start-icon">
    <span class="ts-icon is-user-group-icon"></span>
    組員
</div>
    <div class="ts-space"></div>


<div class="ts-grid mobile:is-stacked">
    <div class="column is-4-wide">
        <div class="ts-center">
            <div class="ts-image is-covered is-circular is-big">
                <img src="{% static 'profile/IMG_8337.png' %}" style="height: 150px; width: 150px;">
            </div>
            <div class="ts-content">
                <div class="ts-header is-heavy">黃昱翔 / 程式設計</div>
                <p>喵喵喵</p>
            </div>
        </div>
    </div>
    <div class="column is-4-wide">
        <div class="ts-center">
            <div class="ts-image is-covered is-circular is-big">
                <img src="{% static 'profile/IMG_8337.png' %}" style="height: 150px; width: 150px;">
            </div>
            <div class="ts-content">
                <div class="ts-header is-heavy">黃昱翔 / 程式設計</div>
                <p>喵喵喵</p>
            </div>
        </div>
    </div>
    <div class="column is-4-wide">
        <div class="ts-center">
            <div class="ts-image is-covered is-circular is-big">
                <img src="{% static 'profile/IMG_8337.png' %}" style="height: 150px; width: 150px;">
            </div>
            <div class="ts-content">
                <div class="ts-header is-heavy">黃昱翔 / 美術設計</div>
                <p>喵喵喵</p>
            </div>
        </div>
    </div>
    <div class="column is-4-wide">
        <div class="ts-center">
            <div class="ts-image is-covered is-circular is-big">
                <img src="{% static 'profile/IMG_8337.png' %}" style="height: 150px; width: 150px;">
            </div>
            <div class="ts-content">
                <div class="ts-header is-heavy">黃昱翔 / 文書處理</div>
                <p>喵喵喵</p>
            </div>
        </div>
    </div>
    <div class="column is-4-wide">
        <div class="ts-center">
            <div class="ts-image is-covered is-circular is-big">
                <img src="{% static 'profile/IMG_8337.png' %}" style="height: 150px; width: 150px;">
            </div>
            <div class="ts-content">
                <div class="ts-header is-heavy">黃昱翔 / 文書處理</div>
                <p>喵喵喵</p>
            </div>
        </div>
    </div>
</div>
</div>


<div class="ts-space is-large"></div>
<div class="ts-divider"></div>
<div class="ts-content is-vertically-very-padded" style="background: var(--ts-gray-50)">
    <div class="ts-container is-narrow">
        <div class="ts-header is-large is-heavy">迴迴奇譚😎</div>
        <div class="ts-text is-secondary">黃昱翔 製作</div>
    </div>
</div>
</body>

</html>