<html>
{% load static %}

<head>
    <title>術式反轉</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocas/4.2.3/tocas.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tocas/4.2.3/tocas.min.js"></script>

    {#    RWD#}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {#    可愛字型#}
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet"/>
</head>
<body>
<div class="ts-content is-secondary is-fitted">
    <div class="ts-container is-narrow">
        <div class="ts-tab">
            <a href="index" class="item">首頁</a>
            <a href="app" class="item">開始使用</a>
            <a href="about" class="item is-active">關於</a>
        </div>
    </div>
</div>
<div class="ts-divider"></div>
<div class="ts-content is-tertiary is-vertically-very-padded">
    <div class="ts-header is-large">關於</div>
    <div class="ts-text is-secondary">了解這份專案跟團隊！</div>
</div>
<div class="ts-divider"></div>
<div class="ts-space is-big"></div>

<div class="ts-header is-heavy">關於</div>

<div class="ts-segment"><a class="ts-text">巴拉巴拉</a></div>

<div class="ts-space is-large"></div>

<div class="ts-header is-start-icon">
    <span class="ts-icon is-user-group-icon"></span>
    組員
</div>

<div class="ts-grid mobile:is-stacked">
    <div class="column is-4-wide">
        <div class="ts-center">
            <div class="ts-image is-covered is-circular is-big">
                <img src="{% static 'profile/IMG_8337.png' %}" style="height: 200px; width: 200px;">
            </div>
            <div class="ts-content">
                <div class="ts-header is-heavy">黃昱翔 / 程式設計</div>
                <p>喵喵喵</p>
            </div>
        </div>
    </div>
    <div class="column is-4-wide">
        <div class="ts-center">
            <div class="ts-image is-covered is-circular is-big">
                <img src="{% static 'profile/IMG_8337.png' %}" style="height: 200px; width: 200px;">
            </div>
            <div class="ts-content">
                <div class="ts-header is-heavy">黃昱翔 / 程式設計</div>
                <p>喵喵喵</p>
            </div>
        </div>
    </div>
    <div class="column is-4-wide">
        <div class="ts-center">
            <div class="ts-image is-covered is-circular is-big">
                <img src="{% static 'profile/IMG_8337.png' %}" style="height: 200px; width: 200px;">
            </div>
            <div class="ts-content">
                <div class="ts-header is-heavy">黃昱翔 / 美術設計</div>
                <p>喵喵喵</p>
            </div>
        </div>
    </div>
    <div class="column is-4-wide">
        <div class="ts-center">
            <div class="ts-image is-covered is-circular is-big">
                <img src="{% static 'profile/IMG_8337.png' %}" style="height: 200px; width: 200px;">
            </div>
            <div class="ts-content">
                <div class="ts-header is-heavy">黃昱翔 / 文書處理</div>
                <p>喵喵喵</p>
            </div>
        </div>
    </div>
    <div class="column is-4-wide">
        <div class="ts-center">
            <div class="ts-image is-covered is-circular is-big">
                <img src="{% static 'profile/IMG_8337.png' %}" style="height: 200px; width: 200px;">
            </div>
            <div class="ts-content">
                <div class="ts-header is-heavy">黃昱翔 / 文書處理</div>
                <p>喵喵喵</p>
            </div>
        </div>
    </div>
</div>


<div class="ts-space is-big"></div>
<div class="ts-divider"></div>
<div class="ts-content is-vertically-very-padded" style="background: var(--ts-gray-50)">
    <div class="ts-container is-narrow">
        <div class="ts-header is-large is-heavy">迴迴奇譚😎</div>
        <div class="ts-text is-secondary">黃昱翔 製作</div>
    </div>
</div>
</body>

</html>