<html>
{% load static %}
<head>
    <title>術式反轉</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocas/4.2.3/tocas.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tocas/4.2.3/tocas.min.js"></script>

    {#    RWD#}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {#    可愛字型#}
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet"/>
    <script src="{% static 'js/upload.js' %}"></script>

    <script src="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone-min.js"></script>
    <link href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="ts-content is-secondary is-fitted">
    <div class="ts-container is-narrow">
        <div class="ts-tab">
            <a href="{% url 'reversal:index' %}" class="item">首頁</a>
            <a href="{% url 'reversal:app' %}" class="item is-active">開始使用</a>
            <a href="{% url 'reversal:about' %}" class="item">關於</a>
        </div>
    </div>
</div>
<div class="ts-divider"></div>
<div class="ts-content is-tertiary is-vertically-very-padded">
    <div class="ts-header is-large">術式反轉</div>
    <div class="ts-text is-secondary">上傳圖片來得到可能是他的 prompt</div>
</div>
<div class="ts-divider"></div>
<div class="ts-space is-big"></div>
<div class="ts-container is-narrow">

<div class="ts-grid">
    <div class="column is-5-wide">
    <div class="ts-wrap is-vertical">
        <div class="ts-box is-hollowed">
            <div class="ts-content">
                <input type="file" id="image-upload" name="image" style="display:none" accept=".png">
                <div class="ts-center">
                    <div class="ts-icon is-disabled is-heading is-upload-icon"></div>
                    <div class="ts-space"></div>
                    <div class="ts-header is-secondary">上傳圖片</div>
                    <div class="ts-text is-secondary">將圖片拖拉至此處進行上傳</div>
                </div>
            </div>
        </div>

        <div class="ts-divider is-center-text">或</div>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="ts-center">
            <div class="ts-file">
                <input type="file" name="upload" accept=".png">
            </div>
                <div class="ts-space"></div>
                <button class="ts-button" type="submit">上傳</button>
            </div>
        </form>

    </div>
    </div>
    <div class="column is-6-wide">
    <div class="ts-wrap is-center-aligned">

        <div class="row">
            {% if status %}
            <div class="ts-image is-medium">
            <img src="data:image/png;base64,{{ file }}" alt="Processed Image">
            </div>
            {% endif %}
        </div>
    </div>
    </div>
    <div class="column is-5-wide">
        <div class="ts-header is-heavy">Prompt</div>
        <div class="ts-divider"></div>

        {% if status %}
            <div class="ts-image is-small">
            <p>
            <span class="ts-text">{{ prompt }}</span>
            </p>
            <p>
{#                <span class="ts-badge">相似度：{{ similarity }} %</span>#}
                {% for tag,count in tags %}
                <div class="ts-badge">{{ tag }}</div>
                {% endfor %}

            </p>
            </div>
        {% else %}
            <span class="ts-text"></span>
        {% endif %}
    </div>
</div>

    <div class="ts-space is-big"></div>
    <div class="ts-header is-large">相似圖片</div>
    <div class="ts-divider"></div>
<div class="ts-space is-big"></div>

                {% if status %}
<div class="ts-container is-narrow">
  <div class="ts-grid is-5-columns is-relaxed">
    {% for img,p,similarity in img_prompts %}
      {% if forloop.counter0|divisibleby:5 %}
        </div>
          <div class="ts-space"></div>
        <div class="ts-grid is-5-columns">
      {% endif %}
      <div class="column">
        <div class="ts-box">
          <div class="ts-image">
            {% if img %}
              <img src="/static/images/kaggle/{{ img }}.png">
              {% else %}
              <img src="/static/images/none.png">
              {% endif %}
          </div>
          <div class="ts-content">
              <p>{{ p }}</p>
              <div class="ts-wrap is-start-aligned">
                <div class="ts-badge is-secondary">{% widthratio similarity 1 100 %} %</div>
            </div>
          </div>
        </label>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endif %}

</div>

{#<div class="ts-space is-huge"></div>#}
{#<div class="ts-space is-huge"></div>#}
{#<div class="ts-space is-huge"></div>#}
<div class="ts-divider"></div>
<div class="ts-content is-vertically-very-padded">
    <div class="ts-container is-narrow">
        <div class="ts-header is-large is-heavy">迴迴奇譚😎</div>
        <div class="ts-text is-secondary">黃昱翔 製作</div>
    </div>
</div>
</body>

</html>