<html>
{% load static %}
<head>
    <title>術式反轉</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocas/4.2.3/tocas.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tocas/4.2.3/tocas.min.js"></script>

    {#    RWD#}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {#    可愛字型#}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet" />
</head>
<body>
        <div class="ts-content is-secondary is-fitted">
            <div class="ts-container is-narrow">
                <div class="ts-tab">
                    <a href="{% url 'reversal:index' %}" class="item is-active">首頁</a>
                    <a href="{% url 'reversal:app' %}" class="item">開始使用</a>
                    <a href="{% url 'reversal:prompt' %}" class="item">文字比對</a>
                    <a href="{% url 'reversal:about' %}" class="item">關於</a>
                </div>
            </div>
        </div>
        <div class="ts-divider"></div>
        <div class="ts-content is-center-aligned is-vertically-very-padded" style="background: var(--ts-gray-50)">
            <div class="ts-space"></div>
            <div class="ts-container is-narrow">
                <div class="ts-header is-center-aligned is-huge is-heavy">範例</div>
                <div class="ts-text is-secondary">這邊提供了 AI 生成的圖片及 prompt。</div>
                <div class="ts-space is-large"></div>
                <a href="app" class="ts-text is-undecorated"><div class="ts-button is-outlined">開始使用</div></a>
            </div>
            <div class="ts-space"></div>
        </div>
        <div class="ts-divider"></div>
        <div class="ts-space is-big"></div>
        <div class="ts-container is-narrow">
            <div class="ts-grid is-3-columns is-relaxed">
                <div class="column">
                    <div class="ts-box">
                        <div class="ts-image">
                            <img src="{% static 'images/0a820f5c-58bc-4126-b87d-60063504d346.png' %}" />
                        </div>
                        <div class="ts-content">a detailed photo of pouya wearing an adidas tracksuit</div>
                    </div>
                </div>
                <div class="column">
                    <div class="ts-box">
                        <div class="ts-image">
                            <img src="{% static 'images/0a642670-5364-43c6-bf93-73d552abe278.png' %}" />
                        </div>
                        <div class="ts-content">adriana chechik fighting in world war 1, archived photo</div>
                    </div>
                </div>
                <div class="column">
                    <div class="ts-box">
                        <div class="ts-image">
                            <img src="{% static 'images/0aa7516c-c436-431d-b1fd-122f7a750ba9.png' %}" />
                        </div>
                        <div class="ts-content">jim carrey eating giant hamburgers, highly detailed, cinematic, 8 k, by stanley artgermm, tom bagshaw, greg rutkowski, carne griffiths, ayami kojima, beksinski, giger, trending on deviantart, hyper detailed, horror, full of colour,</div>
                    </div>
                </div>
                <div class="column">
                    <div class="ts-box">
                        <div class="ts-image">
                            <img src="{% static 'images/0aaed08e-8c18-4da6-b708-52abdb8471e7.png' %}" />
                        </div>
                        <div class="ts-content">super avocado man, superman, unreal engine, anthropomorphic avocado, pixar, new scifi movie, buff</div>
                    </div>
                </div>
                <div class="column">
                    <div class="ts-box">
                        <div class="ts-image">
                            <img src="{% static 'images/0ac7d7e1-0831-4a87-ae5d-f23a143dffbb.png' %}" />
                        </div>
                        <div class="ts-content">woman woman arches her back and dives into the deep deep water, abstract art in the style of cubism and georgia o keefe,</div>
                    </div>
                </div>
                <div class="column">
                    <div class="ts-box">
                        <div class="ts-image">
                            <img src="{% static 'images/0acabead-e804-4c41-a1b5-39e7695fed6b.png' %}" />
                        </div>
                        <div class="ts-content">demons and gods, harsh landscape, beautiful white clouds, dramatic lighting, cinematic, establishing shot, extremly high detail, photorealistic, cinematic lighting, post processed, concept art, artstation, matte painting, style by greg rutkowsky</div>
                    </div>
                </div>
                <div class="column">
                    <div class="ts-box">
                        <div class="ts-image">
                            <img src="{% static 'images/0ad5f1ed-9fd5-480f-acd4-eadf93b73664.png' %}" />
                        </div>
                        <div class="ts-content">futuristic cyberpunk corgi, neon colors, trendy, cool, enamel pin</div>
                    </div>
                </div>
                <div class="column">
                    <div class="ts-box">
                        <div class="ts-image">
                            <img src="{% static 'images/0afcad16-ca2f-4cf1-8bed-43bd1fd7a37f.png' %}" />
                        </div>
                        <div class="ts-content">jotunn in the forest at night, foggy, misty, creepy, scary, horror,</div>
                    </div>
                </div>
                <div class="column">
                    <div class="ts-box">
                        <div class="ts-image">
                            <img src="{% static 'images/0b449f77-9d04-420c-ab60-8947a3bdb23f.png' %}" />
                        </div>
                        <div class="ts-content">large beeple!!!!!!!!!!!!!!!!!!!!!!, workshop!!!!!!!!!!!, hangar, mickey!!!!! mouse!!!!!! head, automaton, mechanical claw, soldiers!!!!!! dressed in red, grime!!!!</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ts-space is-big"></div>
        <div class="ts-divider"></div>
        <div class="ts-content is-vertically-very-padded">
            <div class="ts-container is-narrow">
                <div class="ts-header is-large is-heavy">迴迴奇譚😎</div>
                <div class="ts-text is-secondary">黃昱翔 製作</div>
            </div>
        </div>
    </body>

</html>
