<html>
{% load static %}
<head>
    <title>術式反轉</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocas/4.2.3/tocas.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tocas/4.2.3/tocas.min.js"></script>

    {#    RWD#}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {#    可愛字型#}
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet"/>
    <script src="{% static 'js/upload.js' %}"></script>
</head>
<body>
<div class="ts-content is-secondary is-fitted">
    <div class="ts-container is-narrow">
        <div class="ts-tab">
            <a href="{% url 'reversal:index' %}" class="item">首頁</a>
            <a href="{% url 'reversal:app' %}" class="item">開始使用</a>
            <a href="#" class="item is-active">文字比對</a>
            <a href="{% url 'reversal:about' %}" class="item">關於</a>
        </div>
    </div>
</div>
<div class="ts-divider"></div>
<div class="ts-content is-tertiary is-vertically-very-padded">
    <div class="ts-header is-large">詠唱練習 | 施工中</div>
    <div class="ts-text is-secondary">上傳圖片並輸入 prompt 將會告訴您相似度</div>
</div>
<div class="ts-divider"></div>
<div class="ts-space is-big"></div>
<div class="ts-container is-narrow">
<form method="post" enctype="multipart/form-data">
            {% csrf_token %}
<div class="ts-grid">
    <div class="column is-5-wide">

    <div class="ts-wrap is-vertical">
{#        <div class="ts-divider is-center-text">或</div>#}
            <div class="ts-center">
            <div class="ts-file">
                <input type="file" name="upload" accept=".png">
            </div>
                <div class="ts-space"></div>
                  <button class="ts-button" type="submit">上傳</button>
            </div>


    </div>
    </div>
    <div class="column is-6-wide">
        {% if status %}
            <div class="ts-row is-center-aligned">
            <div class="ts-gauge is-circular is-large">
                <div class="bar" style="--value: {{ similarity }};">
                    <div class="text">{{ similarity }}%</div>
                </div>
            </div>
            </div>
        {% endif %}
        <div>

        </div>
    </div>
    <div class="column is-5-wide">
        <div class="ts-header is-heavy">Prompt</div>
        <div class="ts-divider"></div>
        <div class="ts-space"></div>
        <div class="ts-input is-resizable">
            <textarea name="prompt" placeholder="輸入 Prompt"></textarea>
        </div>
    </div>
</div>
</form>
<div class="ts-space is-big"></div>
{% if status %}
<div class="ts-row is-center-aligned">
<div class="ts-divider"></div>
<div class="ts-divider"></div>
<div class="ts-image" style="max-width: 450px;">
    <img src="data:image/png;base64,{{ file }}" alt="Prompt and Image">
    <div class="ts-mask is-bottom">
        <div class="ts-content" style="color: #FFF;">
            <div class="ts-text is-truncated" style="max-width: 300px;">
            <div class="ts-header">Prompt</div>
            {{ user_prompt }}
            </div>
        </div>
    </div>
</div>
</div>
{% endif %}
</div>

<div class="ts-space is-huge"></div>
<div class="ts-space is-huge"></div>
<div class="ts-space is-huge"></div>
<div class="ts-divider"></div>
<div class="ts-content is-vertically-very-padded">
    <div class="ts-container is-narrow">
        <div class="ts-header is-large is-heavy">迴迴奇譚😎</div>
        <div class="ts-text is-secondary">黃昱翔 製作</div>
    </div>
</div>
</body>

</html>